.container {
	background-color: #040204;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.loading-progress {
	height: 12px;
}

progress.loading-progress::-webkit-progress-value {
	background-color: #07fbfb;
}

.loading-text {
	margin-top: 1em;
	font-family: 'Roboto Slab';
	color: #ffffff;
	font-size: 1.5rem;
}

.fade {
	animation: fade 1000ms ease backwards;
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
